**/*/.vs
**/*/obj
**/*/library
**/*/*.csproj
FeatureMAUI/
FeatureUnity/.vs/FeatureUnity/xs/project-cache/Unity.RenderPipelines.Universal.Runtime-Debug.json
FeatureUnity/Logs
FeatureUnity/Temp

FeatureCppStd/.idea
FeatureCppStd/cmake-build-debug
